<div class="row">
    <div class="row">
        <div class="column" style="align-items:center;">
            <form [formGroup]="loginForm" class="example-form" (ngSubmit)="onSubmit()">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Enter User Name</mat-label>
                    <input type="text" matInput formControlName="user_name" placeholder="Enter User Name">
                    <mat-error *ngIf="loginForm.controls.user_name.invalid">
                        Please Enter Valid User Name
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Enter Password</mat-label>
                    <input type="text" matInput formControlName="password" placeholder="Enter Password">
                    <mat-error *ngIf="loginForm.controls.password.invalid">
                        Please Enter Valid Password
                    </mat-error>
                </mat-form-field>
                <button mat-button class="example-full-width" style="color:aliceblue;height: 50px;"
                    type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>