.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    background-color: #7b1fa265;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }